<!DOCTYPE html>
<html>
<head>
<title>SET AUTO MODE</title>
</head>

<style>

body {font-family: Helvetica;}


button {
  background-color: blue;
  color: white;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  width: auto;
}

button:hover {
  opacity: 0.7;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

</style>

<body>
<div class="center">

    <!--<h2>MANAGE ACCOUNTS</h2> -->
        <div style="text-align:left; display:inline-block">
          <form action="/home">
              <button type="submit">Home</button>
          </form>
        </div>
    <br>
    <br>
    <div>
    <h2>TOTAL INSTANCES RUNNING NOW: {{tot_inst}}</h2>
        </div>
    <form action="{{url_for('manual_mode_set')}}" method='post'>
    <label for="num_add">Instances to add:</label>
    <input style="font-size:17px;" type="text" autocomplete="off" name="num_add" value='{{0 if num_add != None}}'><br><br>
    <label for="num_term">Instances to terminate:</label>
    <input style="font-size:17px;" type="text" autocomplete="off" name="num_term" value='{{0 if num_term != None}}'><br><br>
        <br><button type="submit">Submit</button>
    <h3 style = "color:blue">* Pressing submit will set the mode to manual.</h3><br>
    <h3 style = "color:blue">Go to 'Set Auto' page to change it back to auto mode.</h3>
    </form>

<p style = "color:red">{{err}}</p>



</div>
</body>
</html>